In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame({
    'marks':[9,7,1,2,9,8],
    'testscore':[8,9,7,2,6,7],
    'admission':[1,1,0,0,1,1]
})

In [4]:
df

   marks  testscore  admission
0      9          8          1
1      7          9          1
2      1          7          0
3      2          2          0
4      9          6          1
5      8          7          1

In [5]:
from sklearn.linear_model import LogisticRegression

In [6]:
lr  = LogisticRegression()

In [7]:
lr.fit(df.drop('admission',axis=1),df['admission'])

LogisticRegression()

In [8]:
import pickle

In [9]:
pickle.dump(lr,open('lrmodel.sav','wb'))

In [13]:
model = pickle.load(open('lrmodel.sav','rb'))

In [14]:
model.predict([[4,5]])

array([0], dtype=int64)